.line {
    background-color: blueviolet;
    height: 4px;
}

.blank {
    background-color: white;
    height: 120px;
}

.title-footer {
    margin-top: 48px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer {
    background-color: rgb(246, 242, 242);
}

.info-title {
    list-style: none;
    
    padding: 0;
}

.lst-info {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: rgb(59, 59, 59);
}

.lst-info:hover {
    color:rgb(28, 172, 198);
    cursor: pointer;
}

.img-footer {
    width: 200px;
    height: 110px;
    margin-bottom: 15px;
}

.title-footer-two {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.img-footer-2 {
    width: 200px;
    height: 150px;
    margin-bottom: 15px;
}

.line_two {
    height: 1px;
    background-color: brown;
    margin-bottom: 20px;
    margin-top: 20px;
}

.country_and_area {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 350;
    margin-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
    font-weight: 300;
}

.country {
    border-left: 1px solid #939393;
    padding-left: 5px;
    padding-right: 2px;
}

.end-footer {
    background-color: rgb(255, 255, 255);
    height: 300px;
}

.policy {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    font-size: 1.4rem;
    font-weight: 300;
}

.policy-item {
    padding: 0 40px;
    font-size: 1.2rem;
    cursor: pointer;
}

.register-item img {
    width: 120px;
    height: 48px;
    margin: 0 18px;
    cursor: pointer;
}

.register-item-hand img{
    width: 50px;
    height: 50px;
    margin: 0 18px;
    cursor: pointer;
}

.TNHH {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
}

.end-policy {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 300;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    padding-bottom: 200px;
}

.end-policy li {
    display: flex;
    justify-content: center;
    margin: 12px 0;
}

.QR_fix {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.fix_app {
    width: 100px;
    height: 100px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.fix_app-item {
    width: 100px;
    background-color: white;
    border-radius: 3px;
    height: 25px;
    margin: 2px 0;
    cursor: pointer;
}